menu "Macropad Shield"

config MACROPAD
    bool "4-key macropad shield"
    default y
    help
      Enable support for the 4-key macropad shield with OLED and encoder.

source "boards/shield/macropad/macropad.overlay"

endmenu
