#include <behaviors.dtsi>

 / {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &consumer C_PP  /* key 0 */
                &consumer C_STOP         /* key 1 */
                &consumer C_PREV   /* key 2 */
                &consumer C_NEXT   /* key 3 */
            >;

            encoder_bindings = <
                &beh_encoder_vol_up   /* rotate clockwise */
                &beh_encoder_vol_down /* rotate counter-clockwise */
                &consumer MUTE        /* push */
            >;
        };
    };
};
