
/ {
  chosen {
    zmk,kscan = &kscan0;
  };

  kscan0: kscan_direct {
    compatible = "zmk,kscan-gpio-direct";
    rows = <4>;
    columns = <1>;
    pins = <
      &gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)   /* key 0 */
      &gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)   /* key 1 */
      &gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)   /* key 2 */
      &gpio0 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)   /* key 3 */
    >;
  };

encoder0: encoder {
    compatible = "zmk,ec11";
    gpios = <
        &gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)   /* A */
        &gpio0 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)   /* B */
        &gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)   /* SW */
    >;
    label = "EC11_0";
};  // Make sure this ending brace and semicolon are present

  battery: battery_voltage {
    compatible = "zmk,battery-voltage-divider";
    vref-mv = <3300>;
    vbat-r1 = <100000>;
    vbat-r2 = <100000>;
    adc = <&adc 2>;
    full-conversion-mv = <4200>;
    empty-conversion-mv = <3300>;
  };
};


&i2c0 {
    status = "okay";
    oled: ssd1306@3c {
        compatible = "solomon,ssd1306";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        label = "SSD1306_128X32";
    };
};
