#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

 / {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp C_PP  /* key 0 */
                &kp C_STOP         /* key 1 */
                &kp C_PREV   /* key 2 */
                &kp C_NEXT   /* key 3 */
            >;
         sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
